* {
    padding: 0;
    margin: 0;
    border: 0;
    font-family: "Roboto";
}

body {
    display: grid;
    grid-template-areas:
    "nav"
    "main";
    grid-template-rows: 10% 90%;
    grid-template-columns: 100%;
    height: 100vh;
    width: 100vw;
}

nav {
    display: grid;
    grid-area: nav;
    background-color: #555576;
    justify-items: center;
    align-items: center;
}

nav > h1 {
    color: white;
}

main {
    grid-area: main;
    background-color: #E6F1F6;

    display: grid;
    grid-template-areas:
    "sidebar central";
    grid-template-rows: 100%;
    grid-template-columns: 20% 80%;
}

#sidebar {
    grid-area: sidebar;
    text-align: center;
}

#sidebar > ul {
    text-decoration: none;
}

#sidebar > ul > li {
    margin-bottom: 0.5em;
    border-radius: 2em;
    padding: 0.75em;
    transition: 300ms;
}

#sidebar > ul > li:hover {
    background-color: white;
    cursor: pointer;
    color: #555576
}

#list-header {
    font-weight: 500;
    color: #555576;
}

#central {
    display: grid;
    grid-area: central;
    justify-items: center;
    align-items: center;
}

.main-display {
    width: 90%;
    height: 90%;
    background-color: white;
    box-shadow:rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 2em;
}